﻿@using Blazor.Auth
@inherits LayoutComponentBase

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<div class="sidebar">
    <NavMenu/>
</div>

<div class="main">
    <div class="top-row px-4">
        <NavLink href="about">About</NavLink>
        <AuthorizeView>
            <Authorized>
                <NavLink @onclick="Logout" href="/">Logout</NavLink>
            </Authorized>
            <NotAuthorized>
                <NavLink href="login">Login</NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {

    private async void Logout()
    {
        var customAuthenticationStateProvider = (CustomAuthenticationStateProvider)AuthenticationStateProvider;
        await customAuthenticationStateProvider.UpdateAuthenticationState(null);
    }

}