﻿<div class="top-row pl-4 navbar navbar-dark">
    <p class="navbar-brand">iLift</p>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Dashboard 
            </NavLink>
        </li>
        <AuthorizeView Roles="Manager, Employee">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="customers">
                        <span class="oi oi-people" aria-hidden="true"></span> Customers 
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="products">
                        <span class="oi oi-cart" aria-hidden="true"></span> Products 
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Manager">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="employees">
                        <span class="oi oi-person" aria-hidden="true"></span> Employees
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="statistics">
                        <span class="oi oi-graph" aria-hidden="true"></span> Statistics
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}