﻿@page "/about"

<h1>About</h1>

<p>This project was created thanks to the courses PB175 and PV178 in Brno at FI MUNI.</p>
<p>For additional information regarding this project and its author visit:</p>

<ul>
    <li>
        <a href="https://gitlab.com/dungeon-software/ilift">Gitlab repository</a>
    </li>
    <li>
        <a href="https://standa.dev">Personal webpage</a> 
    </li>
    <li>
        <a href="https://dungeon.software">Personal projects</a>
    </li>
</ul>

<p>Author: <b>Stanislav Zeman</b></p>
