﻿@page "/customer/{Id:int}"
@using Database.Model
@using Database.UnitOfWork
@using Microsoft.EntityFrameworkCore
@using Database

@attribute [Authorize(Roles = "Manager, Employee")]
@inject IDbContextFactory<LiftContext> DbFactory
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime


@if (_customer == null) 
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <h1>Customer - @_customer.Name</h1>
    <EditForm Model="@_customer" OnSubmit="SaveCustomer">
        <label>
            Name: <InputText id="name" @bind-Value="_customer.Name"/>
        </label>
        <br/>
        <label>
            Email: <InputText id="email" @bind-Value="_customer.Email"/>
        </label>
        <br/>
        <label>
            Phone: <InputText id="phone" @bind-Value="_customer.Phone"/>
        </label>
        <br/>
        <label>
            Address: <InputText id="address" @bind-Value="_customer.Address"/>
        </label>
        <br/>
        <button class="btn btn-secondary" type="submit">
            <span class="oi oi-file"></span> Save
        </button>
        <button class="btn btn-secondary" type="button" @onclick="DeleteCustomer">
            <span class="oi oi-x"></span> Delete Customer
        </button>
    </EditForm>
   
    <h2 class="pt-5">Permits</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Card Number</th>
            <th>Expiration Date</th>
            <th>Issued Date</th>
            <th>Entries Left</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var permit in _customer.Permits)
        {
            <tr>
                <td>@permit.PermitNumber</td>
                <td>@permit.ExpirationDate.ToShortDateString()</td>
                <td>@permit.IssueDate.ToShortDateString()</td>
                <td>@EntriesLeft(permit)</td>
                <td>
                    <button class="btn btn-secondary" hidden="@IsEntranceUnrestricted(permit)" @onclick="() => DecreaseEntriesLeft(permit)">
                        <span class="oi oi-arrow-bottom"></span> Record Entrance
                    </button>
                    <button class="btn btn-secondary" @onclick="() => DeletePermit(permit)">
                        <span class="oi oi-x"></span> Delete
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
        
    <h3 class="pt-5">Add new permit</h3>
    <EditForm Model="@_newPermit" OnSubmit="SubmitPermit">
        <table class="table">
            <thead>
            <tr>
                <th>Card Number</th>
                <th>Expiration Date</th>
                <th>Unlimited Entries</th>
                <th>Number of Entries</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <InputNumber id="number" @bind-Value="_newPermit.PermitNumber"/>
                    </td>
                    <td>
                        <InputDate id="expiration" @bind-Value="_newPermit.ExpirationDate"/>
                    </td>
                    <td>
                        <InputCheckbox id="entrance" @bind-Value="_isEntranceUnrestricted"/>
                    </td>
                    <td>
                        <InputNumber id="count" disabled="@_isEntranceUnrestricted" @bind-Value="_newPermit.EntriesLeft"/>
                    </td>
                    <td>
                        <button class="btn btn-secondary" type="submit">
                            <span class="oi oi-plus"></span> Create permit
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </EditForm>
}

@code
{
    [Parameter]
    public int Id { get; set; }

    private Customer? _customer;
    private readonly Permit _newPermit = new();
    private bool _isEntranceUnrestricted;
    
    protected override async Task OnInitializedAsync()
    {
        var db = await DbFactory.CreateDbContextAsync();
        using var unitOfWork = UnitOfWorkFactory.Create(db);

        _customer = unitOfWork.CustomerRepository.GetOne(Id);
        unitOfWork.PermitRepository.GetMultiple(permit => permit.Owner.Id == Id);
        
        unitOfWork.Commit();
    }

    private async void SaveCustomer()
    {
        var db = await DbFactory.CreateDbContextAsync();
        using var unitOfWork = new UnitOfWork(db);

        unitOfWork.CustomerRepository.Edit(_customer!);
        
        unitOfWork.Commit();
        
        await JsRuntime.InvokeVoidAsync("alert", "Customer changes saved!");
    }
    
    private async void DeleteCustomer()
    {
        if (!await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete the customer?"))
        {
            return;
        }
        
        var db = await DbFactory.CreateDbContextAsync();
        using var unitOfWork = UnitOfWorkFactory.Create(db);

        unitOfWork.CustomerRepository.Delete(Id);
        
        unitOfWork.Commit();
        
        NavigationManager.NavigateTo("/customers");
    }

    private async void SubmitPermit()
    {
        var db = await DbFactory.CreateDbContextAsync();
        using var uow = UnitOfWorkFactory.Create(db);
        
        if (_isEntranceUnrestricted)
        {
            _newPermit.EntriesLeft = null;
        }
        
        _newPermit.Owner = _customer;
        _newPermit.IssueDate = DateTime.Now;
        
        _customer?.Permits.Add(_newPermit);
        uow.CustomerRepository.Edit(_customer!); 
        
        uow.Commit();
        
        NavigationManager.NavigateTo("/customer/" + Id, true);
    }

    private async void DeletePermit(Permit permit)
    {
        if (!await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete the permit?"))
        {
            return;
        }
        
        var db = DbFactory.CreateDbContext();
        using var uow = UnitOfWorkFactory.Create(db);
        
        uow.PermitRepository.Delete(permit.Id);
        
        uow.Commit();
        NavigationManager.NavigateTo("/customer/" + Id, true);
    }
    
    private void DecreaseEntriesLeft(Permit permit)
    {
        if (permit.EntriesLeft > 0)
        {
            permit.EntriesLeft--;
        }
        
        var db = DbFactory.CreateDbContext();
        using var uow = UnitOfWorkFactory.Create(db);
        
        uow.PermitRepository.Edit(permit);
        
        uow.Commit();
        NavigationManager.NavigateTo("/customer/" + Id, true);
    }
    
    private static string? EntriesLeft(Permit permit)
    {
        if (permit.EntriesLeft == null)
        {
            return "Unlimited";
        }
        return permit.EntriesLeft.ToString();
    }
    
    private static bool IsEntranceUnrestricted(Permit permit)
    {
        return permit.EntriesLeft == null;
    }
}
