﻿@page "/customers"
@using Database.Model
@using Database.UnitOfWork
@using Microsoft.EntityFrameworkCore
@using Database

@attribute [Authorize(Roles = "Manager, Employee")]
@inject IDbContextFactory<LiftContext> DbFactory
@inject NavigationManager NavigationManager

<h1>Customers</h1>

@if (_customers == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Detail</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var customer in _customers)
        {
            <tr>
                <td>@customer.Name</td>
                <td>@customer.Email</td>
                <td>@customer.Address</td>
                <td>@customer.Phone</td>
                <td>
                    <button class="btn btn-secondary" @onclick="() => NavigateToCustomerDetail(customer.Id)">
                        <span class="oi oi-caret-right"></span>
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    <h2>Create new customer</h2>
    <EditForm Model="@_newCustomer" OnSubmit="HandleCustomerCreation">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <InputText id="name" @bind-Value="_newCustomer.Name"/>
                </td>
                <td>
                    <InputText id="email" @bind-Value="_newCustomer.Email"/>
                </td>
                <td>
                    <InputText id="address" @bind-Value="_newCustomer.Address"/>
                </td>
                <td>
                    <InputText id="phone" @bind-Value="_newCustomer.Phone"/>
                </td>
                <td>
                    <button class="btn btn-secondary" type="submit">
                        <span class="oi oi-plus"></span> Create
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </EditForm>
}

@code {
    private IEnumerable<Customer>? _customers;
    private readonly Customer _newCustomer = new();

    protected override async Task OnInitializedAsync()
    {
        var db = await DbFactory.CreateDbContextAsync();
        using var unitOfWork = UnitOfWorkFactory.Create(db);

        _customers = unitOfWork.CustomerRepository.GetMultiple(
            customer => customer.DeletedAt == null,
            records => records.OrderBy(customer=> customer.Name));
        
        unitOfWork.Commit();
    }
    
    private void NavigateToCustomerDetail(int customerId)
    {
        NavigationManager.NavigateTo($"/customer/{customerId}");
    }
    
    private void HandleCustomerCreation()
    {
        var db = DbFactory.CreateDbContext();
        using var unitOfWork = UnitOfWorkFactory.Create(db);

        unitOfWork.CustomerRepository.Create(_newCustomer);
        unitOfWork.Commit();

        NavigationManager.NavigateTo("/customers", true);
    }

}