﻿@page "/employee/{Id:int}"
@using Database.Model
@using Database.UnitOfWork
@using Microsoft.EntityFrameworkCore
@using Database
@using Microsoft.AspNetCore.Identity

@attribute [Authorize(Roles = "Manager")]
@inject IDbContextFactory<LiftContext> DbFactory
@inject NavigationManager NavigationManager
@inject PasswordHasher<Employee> Hasher
@inject IJSRuntime JsRuntime

@if (_employee == null) 
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <h1>Employee - @_employee.Name</h1>
    <EditForm Model="@_employee" OnSubmit="SaveEmployee">
        <label>
            Username: <InputText id="username" @bind-Value="_employee.Username"/>
        </label>
        <br/>
        <label>
            New password: <InputText id="password" @bind-Value="_newPassword"/>
        </label>
        <br/>
        <label>
            Name: <InputText id="name" @bind-Value="_employee.Name"/>
        </label>
        <br/>
        <label>
            Email: <InputText id="email" @bind-Value="_employee.Email"/>
        </label>
        <br/>
        <label>
            Phone: <InputText id="phone" @bind-Value="_employee.Phone"/>
        </label>
        <br/>
        <label>
            Address: <InputText id="address" @bind-Value="_employee.Address"/>
        </label>
        <br/>
        <label>
            Manager: <InputCheckbox id="is-manager" @bind-Value="_isManager"/>
        </label>
        <br/>
        <button class="btn btn-secondary" type="submit">
            <span class="oi oi-file"></span> Save
        </button>
        <button class="btn btn-secondary" type="button" @onclick="DeleteEmployee">
            <span class="oi oi-x"></span> Delete Customer
        </button>
        
    </EditForm>
    
}

@code
{
    [Parameter]
    public int Id { get; set; }

    private Employee? _employee;
    private bool _isManager;
    private string _newPassword = "";

    protected override async Task OnInitializedAsync()
    {
        var db = await DbFactory.CreateDbContextAsync();
        using var unitOfWork = UnitOfWorkFactory.Create(db);

        _employee = unitOfWork.EmployeeRepository.GetOne(Id);
        _isManager = _employee?.Role == Role.Manager;
        
        unitOfWork.Commit();
    }

    private async void SaveEmployee()
    {
        var db = await DbFactory.CreateDbContextAsync();
        using var unitOfWork = new UnitOfWork(db);
        
        _employee.Role = _isManager ? Role.Manager : Role.Employee;
        if (_newPassword != "")
        {
            _employee.Password = Hasher.HashPassword(_employee, _newPassword);
        }
        
        unitOfWork.EmployeeRepository.Edit(_employee);

        unitOfWork.Commit();

        await JsRuntime.InvokeVoidAsync("alert", "Employee changes saved!");
    }

    private async void DeleteEmployee()
    {
        if (!await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete the employee?"))
        {
            return;
        }
        
        var db = await DbFactory.CreateDbContextAsync();
        using var unitOfWork = new UnitOfWork(db);

        unitOfWork.EmployeeRepository.Delete(Id);

        unitOfWork.Commit();

        NavigationManager.NavigateTo("/employees");
    }
}