﻿@page "/employees"
@using Database.Model
@using Database.UnitOfWork
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Database

@attribute [Authorize(Roles = "Manager")]
@inject IDbContextFactory<LiftContext> DbFactory
@inject NavigationManager NavigationManager
@inject PasswordHasher<Employee> Hasher

<h1>Employees</h1>

@if (_employees == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Role</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Detail</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var employees in _employees)
        {
            <tr>
                <td>@Enum.GetName(employees.Role)</td>
                <td>@employees.Name</td>
                <td>@employees.Email</td>
                <td>@employees.Address</td>
                <td>@employees.Phone</td>
                <td>
                    <button class="btn btn-secondary" @onclick="() => NavigateToEmployeeDetail(employees.Id)">
                        <span class="oi oi-caret-right"></span>
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    <h2>Create new employee</h2>
    <EditForm Model="@_newEmployee" OnSubmit="HandleEmployeeCreation">
        <table class="table">
            <thead>
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Manager</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <InputText id="username" @bind-Value="_newEmployee.Username"/>
                </td>
                <td>
                    <InputText id="password" @bind-Value="_newEmployee.Password"/>
                </td>
                <td>
                    <InputText id="name" @bind-Value="_newEmployee.Name"/>
                </td>
                <td>
                    <InputText id="email" @bind-Value="_newEmployee.Email"/>
                </td>
                <td>
                    <InputText id="address" @bind-Value="_newEmployee.Address"/>
                </td>
                <td>
                    <InputText id="phone" @bind-Value="_newEmployee.Phone"/>
                </td>
                <td class="justify-content-center align-content-center">
                    <InputCheckbox id="is-manager" @bind-Value="_isManager"/>
                </td>
                <td>
                    <button class="btn btn-secondary" type="submit">
                        <span class="oi oi-plus"></span> Create
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </EditForm>
}

@code {
    private IEnumerable<Employee>? _employees;
    private readonly Employee _newEmployee = new();
    private bool _isManager;

    protected override async Task OnInitializedAsync()
    {
        var db = await DbFactory.CreateDbContextAsync();
        using var unitOfWork = UnitOfWorkFactory.Create(db);

        _employees = unitOfWork.EmployeeRepository.GetMultiple(
            employee => employee.DeletedAt == null,
            records => records.OrderBy(employee => employee.Name));
        
        unitOfWork.Commit();
    }
    
    private void NavigateToEmployeeDetail(int employeeId)
    {
        NavigationManager.NavigateTo($"/employee/{employeeId}");
    }
    
    private void HandleEmployeeCreation()
    {
        var db = DbFactory.CreateDbContext();
        using var unitOfWork = UnitOfWorkFactory.Create(db);
        
        _newEmployee.Role = _isManager ? Role.Manager : Role.Employee;
        _newEmployee.Password = Hasher.HashPassword(_newEmployee, _newEmployee.Password);
        
        unitOfWork.EmployeeRepository.Create(_newEmployee);
        unitOfWork.Commit();

        NavigationManager.NavigateTo("/employees", true);
    }

}