﻿@page "/"
@using OpenMeteo

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identities.First().Name</h1>
        <p>System time: @DateTime.Now</p>
        
        <hr/>
        
        <h3>Weather in Brno</h3>
        @if (_weatherForecast == null || _weatherForecast.CurrentWeather == null)
        {
            <p>Forecast not available</p>
        }
        else
        {
            <p>
                Temperature: @_weatherForecast.CurrentWeather.Temperature °C <br/>
                Max temperature: @GetDailyMaximalTemperature() <br/>
                Min temperature: @GetDailyMinimalTemperature() <br/>
                Wind speed: @_weatherForecast.CurrentWeather.Windspeed km/h 
            </p>
        }
        
    </Authorized>
    <NotAuthorized>
        <H1>Hello</H1>
        <p>Please login to access the systems functionalities</p>
    </NotAuthorized>
</AuthorizeView>

@code
{
    private readonly OpenMeteoClient _client = new();
    private WeatherForecast? _weatherForecast;
    
    protected override async Task OnInitializedAsync()
    {
        _weatherForecast = await _client.QueryAsync("Brno");
    }

    private string GetDailyMinimalTemperature()
    {
        return _weatherForecast?.Daily?.Apparent_temperature_min?.ToString() ?? "N/A";
    }
    
    private string GetDailyMaximalTemperature()
    {
        return _weatherForecast?.Daily?.Apparent_temperature_max?.ToString() ?? "N/A";
    }
}
