@page "/login"
@using Database
@using Database.Model
@using Database.Repository
@using Database.UnitOfWork
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Blazor.Auth

@inject IDbContextFactory<LiftContext> DbFactory
@inject PasswordHasher<Employee> Hasher
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<div class="row">
    <div class="col-lg-4 offset-lg-4 pt-4 pb-4 border">
        <div class="mb-3 text-center">
            <h3>Log In</h3>
        </div>
        <div class="mb-3">
            <label>Username</label>
            <input @bind="_form.Username" class="form-control" placeholder="Username"/>
        </div>
        <div class="mb-3">
            <label>Password</label>
            <input @bind="_form.Password" type="password" class="form-control" placeholder="Password"/>
        </div>
        <div class="mb-3 d-grid gap-2">
            <button @onclick="Authenticate" class="btn btn-primary">Login</button>
        </div>
    </div>
</div>
@code {
    private class LoginForm
    {
        public string Username { get; set; } = "";
        public string Password { get; set; } = "";
    }
    
    private readonly LoginForm _form = new();

    private async Task Authenticate()
    {
        var dbContext = await DbFactory.CreateDbContextAsync();
        using var uow = new UnitOfWork(dbContext);
        
        var employees = (EmployeeRepository) uow.EmployeeRepository;
        var user = employees.GetOne(_form.Username);
        
        if (user == null || user.DeletedAt != null || Hasher.VerifyHashedPassword(user, user.Password, _form.Password) == PasswordVerificationResult.Failed)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Wrong username or password");
            return;
        }
        
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthenticationStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(new UserSession
        {
            Username = user.Username,
            Role = Enum.GetName(user.Role) ?? "Employee"
        });
        
        NavigationManager.NavigateTo("/", true);
    }
}