﻿@page "/products"
@using Database.Model
@using Database.Repository
@using Database.UnitOfWork
@using Microsoft.EntityFrameworkCore
@using Database

@attribute [Authorize(Roles = "Manager, Employee")]
@inject IDbContextFactory<LiftContext> DbFactory
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<h1>Products</h1>

@if (_products == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Actions <input type="number" @bind="_amount"/></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in _products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.AmountLeft</td>
                <td>@product.Price.ToString("#.##") CZK</td>
                <td>
                    <button class="btn btn-secondary" @onclick="() => StockProduct(product)">
                        <span class="oi oi-arrow-top"></span> Stock
                    </button>
                    <button class="btn btn-secondary" @onclick="() => SellProduct(product)">
                        <span class="oi oi-arrow-bottom"></span> Sell
                    </button>
                    <button class="btn btn-secondary" @onclick="() => DeleteProduct(product)">
                        <span class="oi oi-x"></span> Delete
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    <h2>Create new product</h2>
    <EditForm Model="@_newProduct" OnSubmit="HandleProductCreation">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Price</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <InputText id="name" @bind-Value="_newProduct.Name"/>
                </td>
                <td>
                    <InputText id="description" @bind-Value="_newProduct.Description"/>
                </td>
                <td>
                    <InputNumber id="amount" @bind-Value="_newProduct.AmountLeft"/>
                </td>
                <td>
                    <label>
                        <InputNumber id="price" @bind-Value="_newProduct.Price"/> CZK
                    </label>
                </td>
                <td>
                    <button class="btn btn-secondary" type="submit">
                        <span class="oi oi-plus"></span> Create 
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </EditForm>
}

@code {
    private IEnumerable<Product>? _products;
    private readonly Product _newProduct = new();
    private int _amount = 1;

    protected override async Task OnInitializedAsync()
    {
        var db = await DbFactory.CreateDbContextAsync();
        using var unitOfWork = UnitOfWorkFactory.Create(db);

        _products = unitOfWork.ProductRepository.GetMultiple(
            customer => customer.DeletedAt == null,
            records => records.OrderBy(product => product.Name));
        
        unitOfWork.Commit();
    }
    
    private void HandleProductCreation()
    {
        var db = DbFactory.CreateDbContext();
        using var unitOfWork = UnitOfWorkFactory.Create(db);

        unitOfWork.ProductRepository.Create(_newProduct);
        unitOfWork.Commit();

        NavigationManager.NavigateTo("/products", true);
    }
    
    private async void DeleteProduct(Product product)
    {
        if (!await JsRuntime.InvokeAsync<bool>("confirm", 
            $"Are you sure you want to delete {product.Name}?"))
        {
            return;
        }
        
        var db = await DbFactory.CreateDbContextAsync();
        using var unitOfWork = UnitOfWorkFactory.Create(db);

        unitOfWork.ProductRepository.Delete(product.Id);
        unitOfWork.Commit();

        NavigationManager.NavigateTo("/products", true);
    }
    
    private async void StockProduct(Product product)
    {
        if (!await JsRuntime.InvokeAsync<bool>("confirm", 
            $"Are you sure you want to stock {_amount} pieces of {product.Name}?"))
        {
            return;
        }
        
        var db = await DbFactory.CreateDbContextAsync();
        using var unitOfWork = UnitOfWorkFactory.Create(db);

        product.AmountLeft += _amount;
        unitOfWork.ProductRepository.Edit(product);
        unitOfWork.Commit();

        NavigationManager.NavigateTo("/products", true);
    }
    
    private async void SellProduct(Product product)
    {
        if (_amount > product.AmountLeft)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Not enough stock!");
            return;
        }
        
        if (!await JsRuntime.InvokeAsync<bool>("confirm", 
            $"Are you sure you want to sell {_amount} pieces of {product.Name}?"))
        {
            return;
        }
        
        var db = await DbFactory.CreateDbContextAsync();
        using var unitOfWork = UnitOfWorkFactory.Create(db);

        product.AmountLeft -= _amount;
        unitOfWork.ProductRepository.Edit(product);

        // Only manager can sell products for now
        var manager = ((EmployeeRepository) unitOfWork.EmployeeRepository).GetOne("manager");
        
        unitOfWork.SoldProductRepository.Create(new SoldProduct
        {
            Product = product,
            AmountSold = _amount,
            SoldBy = manager,
            SoldAt = DateTime.Now
        });
        
        unitOfWork.Commit();

        NavigationManager.NavigateTo("/products", true);
    }
}