﻿@page "/statistics"
@using Database
@using Database.UnitOfWork
@using Microsoft.EntityFrameworkCore

@attribute [Authorize(Roles = "Manager")]
@inject IDbContextFactory<LiftContext> DbFactory

<h1>Statistics</h1>

@if (_statistics == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Day</th>
            <th>Items sold</th>
            <th>Total revenue</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var dayRecord in _statistics)
        {
            <tr>
                <td>@dayRecord.Day.Date</td>
                <td>@dayRecord.ItemsSold</td>
                <td>@dayRecord.TotalRevenue.ToString("N2") CZK</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IEnumerable<AnalyticalDayStatistics>? _statistics;

    protected override async Task OnInitializedAsync()
    {
        var db = await DbFactory.CreateDbContextAsync();
        using var unitOfWork = UnitOfWorkFactory.Create(db);

        var soldProducts = unitOfWork.SoldProductRepository.GetMultiple(
            null,
            records => records.OrderByDescending(soldProduct => soldProduct.SoldAt));
        
        unitOfWork.ProductRepository.GetMultiple();
        
        unitOfWork.Commit();
        
        _statistics = soldProducts
            .GroupBy(product => product.SoldAt.Date)
            .Select(grouping => new AnalyticalDayStatistics
            {
                Day = grouping.First().SoldAt,
                ItemsSold = grouping.Select(record => record.AmountSold).Sum(),
                TotalRevenue = grouping.Select(record => record.AmountSold * record.Product.Price).Sum()
            })
            .ToList();
        
    }
    
    private class AnalyticalDayStatistics
    {
        public DateTime Day { get; set; }
        public int ItemsSold { get; set; }
        public double TotalRevenue { get; set; }
    }

}